<div>
    <h1>Welcome to the App</h1>
    </div>
<div>
<a href="@Url.Action("Index", "User")">
    <button>Users</button>
</a>
</div>
<div>
<a href="@Url.Action("GridView")">
    <button>Grid</button>
</a>
    </div>
    <div>
    <a href="@Url.Action("EstimateLocation", "Location")" class="btn btn-secondary"><button>Insert MAC Address</button></a>

    </div>
<p>Gerda Tumelytė IFK-1 T120B192 Mobiliosios internetinės sistemos BEVIELIO TINKLO VARTOTOJO VIETOS NUSTATYMO TYRIMAS</p>